@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

header .container {
    
    display: flex;
    align-items: center;
    padding: 0 2rem;

    h2.logo{
        color: var(--vermelho);
        letter-spacing: 1.5px;
        font-weight: 900;
        font-size: 40px;
        margin-left: 5px;
    }

    nav {
        display: flex;
        justify-content: space-between;

        margin: 0 2rem;
        width: 100%;
        a {
            text-decoration: none;
            color: #aaa;
            margin-right: 10px;

            &:hover{
                color: #fff;
            }  
        }

        .config i {
            margin-left: 1rem;
            cursor: pointer;
        }
    }
}

main {
    .filme-principal{
        font-size: 16px;
        background: 
            linear-gradient(rgba(0,0,0,.5)), 
            url(/img/HIMYMWallpaper.jpg);

        height: 400px;
        background-size: cover;
        background-position: 0% 15%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding: 0 2rem;

        .titulo {
            margin-top: 10%;
            font-size: 40px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .descricao{
            margin-top: 10px;
            margin-bottom: 50px;
        }

        .btn{
            background-color: rgba(0,0,0,.5);
            border: none;
            color: #fff;

            padding: 15px 30px;
            margin-right: 15px;
            font-size: 12px;

            cursor: pointer;
            transition: .3s ease all;

            &:hover{
                background-color: #fff;
                color: #141414;
            }

            i {
                margin-right: 8px;
            }
        }
    }
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 10px;
}

.box-filme{
    cursor: pointer;
}

.modal {
    color: #141414;

    .btn-close{
        color: #fff;
    }
}

.modal-content{
    width: 800px;
    right: 30%;

    background-color: #141414;
    color: #fff;
}

.photo-serie{
    width: 500px;
    height: 280px;
    margin: 0 15%;
}

.descricao{
    display: flex;
    margin-top: 1rem;

    .descricao-serie 
    {
        .relevante{
            color: rgb(30, 187, 30);
            font-weight: bold;
            
            margin-right: 4px;
        }

        .idade {
            background-color: #e50914;
            border: 2px solid #e50914;
            border-radius: 2px;
            
            padding: 3px;
            margin: 0 3px;
            font-weight: bold;
        }
    }

    .descricao-elenco {
        font-size: 12px;
        margin: 0 1rem;
        span {
          color: #aaa;
      }
    }
}

//RESPONSIVIDADE

@media screen and (max-width: 730px){
    header .container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 575px){
 
    main .filme-principal .btn {
        margin-bottom: 2rem;
    }
}

